<div>
  doing another time our cool grid
</div>

{% schema %}
 {
 "name": "Nude Grid",
 "settings": [],
 "presets": [
   {
     "name": "Nude Grid",
     "category": "All Pango"
   }
 ]
} 
{% endschema %}