<!-- nude-grid.liquid -->


<section class="p-{{ section.id }}">
 <div class="page-width">
    here well understando how nude creted its layout
 </div> 
</section>




{%  # CSS  %}
<style>
.p-{{ section.id }}{


}


@media(min-width:768px){
 .p-{{ section.id }}{
  
 }
}


</style>


{%  # JAVASCRIPT  %}
<script>
  
</script>


{% schema %}
 {
 "name": "Nude Grid",
 "settings": [],
 "presets": [
   {
     "name": "Nude Grid",
     "category": "All Pango"
   }
 ]
} 
{% endschema %}

